@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *)); 

*{
  font-family: 'Manrope', sans-serif;
  font-weight: 500; 
  cursor: none;
}


@theme {
  --color-primary: #5044e5;
}

.input-field {
  @apply w-full p-3 rounded-xl border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-900 text-sm outline-none focus:border-primary;
}
